@import "./theme.css";
@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

.container-xl {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem; /* 1152px */
  padding-left: 1rem;
  padding-right: 1rem;
}


@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}

